@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this custom animation manually */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

.sticky-section {
  scroll-snap-align: start;
  position: sticky;
  top: 64px;
  height: calc(100vh - 64px);
  overflow: hidden;
}




.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}